
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h1>Login to Your Account</h1><br>
    <form action="/admin/sessions" method="post">
      <input type="email" name="email" placeholder="Email address">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" name="login" class="login loginmodal-submit" value="Login">
    </form>

  </div>
</div>
