<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Turnstr</title>
  <meta property="og:title" content="Turnstr">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="/assets/landing.css">


  <script>
      WebFont.load({
          google: {
              families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic"]
          }
      });
  </script>

</head>
<body>
<div class="body-container">
  <div class="w-section login-container">
    <div class="w-container content-container">
      <div class="logo"><img width="120" src="/assets/logo_login.png">
      </div>
      <div class="login-form-container">
        <div class="phones"><img src="/assets/phones.png">
        </div>
        <div class="form-container">

        </div>
      </div>
    </div>
  </div>
  <div class="w-section footer">
    <div class="w-container">
      <ul class="w-list-unstyled w-clearfix footerlist">
        <li class="listitem">About us</li>
        <li class="listitem">Support</li>
        <li class="listitem">Blog</li>
        <li class="listitem">Press</li>
        <li class="listitem">API</li>
      </ul>
      <div class="copyright">© 2016 turnstr</div>
    </div>
  </div>
</div>
<script>



</script>

</body></html>