<!DOCTYPE html>
<!--
 *  Copyright (c) 2018 Turnstr Inc. All Rights Reserved.
-->
<html>
<head>

  <meta charset="utf-8">
  <meta name="description" content="Turnstr">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Turnstr">
  <meta itemprop="name" content="Turnstr">
  <meta name="mobile-web-app-capable" content="yes">
  <meta id="theme-color" name="theme-color" content="#ffffff">

  <base target="_blank">

  <title>Turnstr</title>

  <link rel="stylesheet" type="text/css" href="/assets/landing.css">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">

</head>

<body>

<div id="container">
  <img class='main-logo' src="/assets/logo_landing.png"/>


  <p>
    Turnstr is the best way to see and share your world with a flip-switch. Customize your photos and videos with custom
    filters and frames. Turnstr allows you to view 6 different photos and videos in one.
  </p>

  <hr/>

  <a href="https://itunes.apple.com/us/app/turnstr/id1125690098?ls=1&mt=8"
     title="App store download" id="viewSource">
    <img src="/assets/apple-store.svg">
  </a>

  <a href="https://play.google.com/store/apps/details?id=com.adroidtech.turnstr2"
     title="App store download" id="viewSource">
    <img src="/assets/google-play.svg">
  </a>
</div>


</body>
</html>