<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Turnstr</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Browse property123 <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">
      <% if current_member %>
            <li>
              <%= link_to('Logout', member_sessions_path, method: :delete) %>
            </li>
        <% else %>
            <li>
              <%= link_to('Login', new_member_sessions_path)  %>
            </li>
        <% end %>
    </ul>

  </div>
</nav>