<div class="body-container">
    <div class="w-section login-container">
        <div class="w-container content-container">
            <div class="logo"><img width="120" src="http://www.turnstr.com/assets/images/logo_login.png">
            </div>
            <div class="login-form-container">
                <div class="phones"><img src="http://www.turnstr.com/assets/images/phones.png">
                </div>
                <div class="form-container">
                    <div class="w-form">
                        <form method="post" id="email-form" name="email-form" data-name="Email Form" action="/member/sessions">
                            <input type="hidden" name="_token" value="NawU2o6uKxpeMEFKU8Z18MZXThPng3qf5aKAPXOq">
                            <input id="email"   placeholder="Email/Username"  name="email" value="" required="required" class="w-input formfield">
                            <input id="password" type="password" placeholder="password" name="password" required="required" class="w-input formfield">
                            <input type="submit" value="login" data-wait="Please wait..." class="w-button submit_btn">
                        </form>

                                            </div>
                        <a href="/password/reset" class="forgotpwlink">Forgot password?</a>
                        <a href="javascript:;" class="facebooklogin" id="facebooklogin">Login with facebook</a>
                        <a href="/register" class="register_new">Don't have an account? <span class="link">Sign up</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="w-section footer">
        <div class="w-container">
            <ul class="w-list-unstyled w-clearfix footerlist">
                <li class="listitem">About us</li>
                <li class="listitem">Support</li>
                <li class="listitem">Blog</li>
                <li class="listitem">Press</li>
                <li class="listitem">API</li>
            </ul>
            <div class="copyright">© 2017 turnstr</div>
        </div>
    </div>
</div>