<!-- Navigation -->
<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      &#9776;
    </button>
    <a class="navbar-brand" href="/admin/home">Turnstr Admin</a>
  </div>
  <!-- Top Menu Items -->
  <ul class="nav navbar-nav top-nav navbar-right pull-xs-right">
      <li class="dropdown nav-item">
      <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_admin.name %>  <b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li class="divider"></li>
        <li class="dropdown-item">
          <%= link_to('Log Out', admin_sessions_path, method: :delete) %>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav list-group">
      <li class="list-group-item">
        <a href="/admin/members"><i class="fa fa-fw fa-users"></i> Members</a>
      </li>
      <li class="list-group-item">
        <a href="/admin/stories"><i class="fa fa-fw fa-stories"></i> Stories</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>


















<!--

    <ul class="navbar-nav ml-auto">
      <% if current_admin %>
          <li>
            <%= link_to('Logout', admin_sessions_path, method: :delete) %>
          </li>
      <% else %>
          <li>
            <%= link_to('Login', new_admin_sessions_path)  %>
          </li>
      <% end %>
    </ul>
-->